* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #eae0d3;
    font-family: 'proxima-nova', sans-serif;

    font-style: normal;
    font-weight: 500;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.search_bar {
    padding: 10px;
}

.center-logo {
    display: block;
    margin: 0 auto;
    padding: 20px;

}

.mid-img {
    margin: auto;
    text-align: center;
}

.st_img {
    width: 360px;
    height: 540px;
    margin: 10px auto;
    padding: 10px;
}

.mid {
    text-align: center;
}

.big_para {
    text-align: center;
    font-size: 2rem;
}

.mid_para {
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
}

.small_para {
    text-align: center;
    font-size: 1rem;
    padding: 10px;
}

button {
    background-color: #eae0d3;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 50px;
    margin: 20px;

}

.mid_section {
    text-align: center;
    float: left;
}

.big_para_2 {
    font-size: 1.8rem;
}

.mid_para_2 {
    font-size: .8rem;
}

.small_para_2 {
    font-size: 1rem;
    text-align: right;
    padding: 20px;
}